<p class="title">{{'COMP.REGB.TITLE' | translate}}<span class="help" (click)="showInfo=true">{{'UI.INFO' | translate}}</span></p>
<div class="box-panel">
    <div class="box-panel-left">
        <app-control-led #bi type="BI" color="#afa20b"></app-control-led>
          </div>
    <div class="box-panel-right">
      <app-control-led #clk type="{{'UI.CLOCK' | translate}}" color="{{colorClkButton}}"></app-control-led>
      <app-control-led #rst type="{{'UI.RESET' | translate}}" color="{{colorResetButton}}"></app-control-led>
  </div>
  </div>
<app-led-panel #regbpanel [leds]="leds8" caption="{{'COMP.REGB.PANEL_DESC' | translate}}"></app-led-panel>

<p-dialog #inf header="{{'COMP.REGB.INFO.HEADER' | translate}}" [(visible)]="showInfo" [width]="500">
  <div class='info' [innerHTML]="'COMP.REGB.INFO.DESC' | translate"></div>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="showInfo=false" label="{{'UI.CLOSE' | translate}}"></button>
  </p-footer>
</p-dialog>