<p class="title">{{'COMP.MAR_RAM.TITLE' | translate}}<span class="help" (click)="showInfo=true">{{'UI.INFO' | translate}}</span></p>
<div class="box-panel">
  <div class="box-panel-left">
      <app-control-led #mi type="MI" color="blue"></app-control-led>                
  </div>
  <div class="box-panel-right">
    <app-control-led #clk type="{{'UI.CLOCK' | translate}}" color="{{colorClkButton}}"></app-control-led>
    <app-control-led #rst type="{{'UI.RESET' | translate}}" color="{{colorResetButton}}"></app-control-led>
</div>
</div>

<app-led-panel #lpanel_mar [leds]="leds4" caption="{{'COMP.MAR_RAM.PANEL_MAR_DESC' | translate}}" diigtsScreen="00"></app-led-panel>

<div class="box-panel">
  <div class="box-panel-left">
      <app-control-led #ri type="RI" color="blue"></app-control-led>
      <app-control-led #ro type="RO" color="blue"></app-control-led>
    </div>
  <div class="box-panel-right">   
  </div>
</div>

<app-led-panel #lpanel_ram [leds]="leds8" caption="{{'COMP.MAR_RAM.PANEL_RAM_DESC' | translate}}"></app-led-panel>

<p-dialog #inf header="{{'COMP.MAR_RAM.INFO.HEADER' | translate}}" [(visible)]="showInfo" [width]="500">
  <div class='info' [innerHTML]="'COMP.MAR_RAM.INFO.DESC' | translate"></div>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="showInfo=false" label="{{'UI.CLOSE' | translate}}"></button>
  </p-footer>
</p-dialog>
